<h4>Personajes </h4>
<ul class="list-group">
  <li *ngFor="let personaje of characterList;
  let i = index
  let isFirt = first
  let isLast = last
  let isEven = even
  let isOdd = odd"
  class="list-group-item"
  [ngClass]="{
    'list-group-item-dark': isLast,
    'list-group-item-primary': isEven
    }">
    <span class="text-primary">{{i}}. </span>

    <span>{{personaje.name}} - </span>

    <strong>Power:</strong>

    <span>{{personaje.power}}</span>

    <!-- <span> Es el primero: {{ isFirt}}</span>
    <span> Es el ultimo:  {{ isLast}}</span>
    <span> Es par:  {{isEven}}</span>
    <span> Es impar: {{isOdd}}</span> -->
  </li>

</ul>
