<h1>{{name}}</h1>

<dl>
  <td>Nombre</td>
  <dd>{{name}}</dd>

  <td>Metodo</td>
  <dd>metodo</dd>

  <td>Edad</td>
  <dd>{{age}}</dd>

  <td>Metodo</td>
  <dd>{{getHeroDescripton()}}</dd>

  <td>capitalizado</td>
  <dd>{{capitalzedName}}</dd>

  <button
  *ngIf="name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  cambiar Nombre</button>
  <button
  *ngIf="age !== 15"
  (click)="changeAge()" class="btn btn-primary">cambiar edad</button>

  <button
  (click)="resetForm()"
  class="btn btn-primary mx-2">
    RESET
  </button>
</dl>
