<h1>HOLA MUNDO</h1>
<hr>

<div class="row">
  <div class="col">
    <h4>Personajes </h4>
    <ul class="list-group">
      <li class="list-group-item">krilin -500</li>
      <li class="list-group-item">goku -10.0000</li>
    </ul>
  </div>

<div class="col">
  <h4>Agregar personajes</h4>
  <form class="row">
    <input type="text"  class="form-control mb-2" placeholder="Nombre del personaje">
    <input type="number" class="form-control mb-2" placeholder="poder">
    <button type="submit" class="btn btn-primary">
      Agregar
    </button>
  </form>
</div>
</div>
